body {
    background: url('/assets/img/fondo2.jpeg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.marca {
    font-size: 40px;
}

.links {
    font-size: 17px;
}

.login {
    font-family: Arial, Helvetica, sans-serif;
}

.form-header .logo {
    width: 100px;
    margin-bottom: 20px;
}

.form-header h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
    width: 100%;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #333;
}

.input-group input, .input-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

.input-group select {
    color: #000000;
    appearance: none; /* Quitar la apariencia por defecto del navegador */
}

.input-group select:focus {
    outline: none;
    border-color: #a58d4f; /* Color del borde al enfocar */
}

.btn-login {
    width: 100%;
    padding: 10px;
    background: #c59d5f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.social-login .btn-facebook {
    width: 100%;
    padding: 10px;
    background: #3b5998;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.remember-me {
    display: flex;
    align-items: center;
    width: 100%;
}

.remember-me input {
    margin-right: 250px;
}

.forgot-password {
    margin-top: 15px;
}

.forgot-password a {
    color: #c59d5f;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.navbar a:hover {
    text-decoration: none;
}
